.firstTab{
    width: 2.8125rem;
    height:2.8125rem ;
    fill: var(--main-grey);
}

.secondTab{
    width: 9.6875rem ; 
    height:9.6875rem ;
    fill: var(--main-grey);
}

.thirdTab{
    width: 4.375rem ; 
    height: 4.375rem ;
    fill: var(--main-grey);
}



.tabs{
    padding-top: 1rem;
}

.tab-nav{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    color: var(--main-grey);
    margin: 0 12%;
    list-style: none;
}

/* tabs hover */
ul li:hover{
    color: white;
    cursor: pointer;
}

ul li:hover svg path{
    fill: white;
}

/* Active tab => first */
.active{
    border-bottom: 4px solid var(--main-red);
}